body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

    span.sortOrder:after {
        content: '\25b2';
    }

    span.descending:after {
        content: '\25bc';
    }


.results {
    border : 1px solid black;
}

.results.ng-enter {
    transition : linear all 0.4s;
    opacity : 0.1;
}

.results.ng-enter-active {
    opacity : 1;
}

.error {
    border : 1px solid black;
    background-color : #A0A0A0;
}

.error.ng-enter {
    transition : linear all 1.5s;
    opacity : 0.1;
}

.error.ng-enter-active {
    opacity : 1;
}